/* body {
    height: 2000px;
} */

/* 3. answer */
/* #myLink {
    color: blue;
}
#myLink:hover {
    color: red;
} */

/* 8. answer */
/* #myButton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#myButton:hover {
    background-color: red;
} */


/* chapter 49 to 50... */
/* 7. answer */
/* .form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-messages {
    color: red;
    font-weight: bold;
} */


/* Chapter 52 (Manipulating Images and Text) */
/* 1. answer */
/* .bold {
    font-weight: bold;
} */

/* 2. answer */
/* .hidden {
    display: none;
} */

/* 3. answer */
/* #hoverHeading {
    background-color: lightgray;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#hoverHeading:hover {
    background-color: black;
    color: white;
} */

/* 4. answer */
/* #hoverParagraph {
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

#hoverParagraph:hover {
    text-decoration: underline;
} */
